body {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

nav {
  background-color: rgba(0,0,0,0.7);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

a {
  color: #d48106;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

button, .btn {
  background: #d48106;
  border: 1px solid #d48106;
  transition: color 0.3s ease;
}

.btn:hover, .btn:active {
  background-color: #d48106 !important;
  border: 1px solid #d48106 !important;
  color: #333333 !important;
}

.background-image {
  background-image: url("../src/images/mountain-bg.jpg");
  background-size: cover;
  background-position: center 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.content-container, .container {
  position: relative;
  height: calc(100vh - 60px); /* Height of the navbar */
  margin-top: 60px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-container {
  position: relative;
  padding: 1rem;
  width: 100%;
  min-width: fit-content;
  max-width: 450px;
  height: 100%;
  display: flex;
  align-items: space-evenly;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.overlay-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 2rem;
  min-height: 18rem;
  width: 100%;
}

.fullsize-overlay-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: balance;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: 18rem;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  color: white;
}

.fb-form {
  height: 100%;
  padding: 1rem;
}

.fb-peaks-search {
  height: 40vh;
  overflow-y: auto;
  border-radius: 5px;
}

.fb-form h1, .fb-form h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.fb-form p {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.fb-form .row {
  margin: 2rem 0;
}

.photo-upload-overlay-box, .view-details-overlay-box {
  text-wrap: balance;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.photo-upload-overlay-box, .view-details-overlay-box {
  margin-top: 4rem;
  height: fit-content;
  width: 90vw;
  color: white;
}

.form-overlay-box {
  margin-top: 3rem;
  width: 90vw;
  text-wrap: balance;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 2rem;
  max-width: 650px;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.form-select {
  font-size: clamp(0.8rem, 1.5vw, 1rem) !important;
}

#user-form .form-check {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 1rem;
}

#new-peaks-checkbox, #location-radio-0, #location-radio-1 {
  margin: 0 auto;
  order: 2;
}

.overlay {
  position: relative;
  background-color: rgba(0,0,0,0.7);
  overflow-y: auto;
  height: 100%;
  width: 100vw;
}

.photo-upload-overlay, .view-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.overlay-box:nth-of-type(2) {
  order: 3;
}

.overlay-box:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

.overlay-content {
  color: #f8fbfb;
}

.overlay-content.text {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.italics {
  font-style: italic;
}

.overlay-content.btn {
  border-radius: 10px;
  background: #d48106;
  color: white;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.overlay-content.btn:hover {
  color: #333333;
}

#mountain-icon {
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 0.6rem;
}

.hp-icon {
  width: 1rem;
  height: 1rem;
}

#user-form, .form-text {
  color: white;
}

.map, .map-container {
  width: 100%;
  overflow: hidden;
}

/* .map {
  height: 100%;
  width: 100%;
}

.map-container {
  margin: 0 auto;
  height: 60vh;
  width: 85vh;
} */

.peaks-list-container {
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: clamp(0.8rem, 2vw, 1rem);
  height: 265px;
  background-color: #212529;
  transition: height 0.5s ease;
  text-align: left;
  border-top: 1px solid black;
}

.peaks-list-container.collapsed {
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.recommended-text-collapsed {
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

.peaks-list {
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  text-align: center;
}

.peaks-list li {
  display: inline-block;
  padding: 0 10px 10px 10px;
}

.filter-text {
  margin-left: 32px;;
}

.list-text-wrapper, .filter-options {
  position: sticky;
  left: 0;
}

.peak-img {
  width: 10rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.peak-img, .top-peak-img {
  border-radius: 1rem;
}

/* Recommendations page styles */

#rp-container {
  padding-bottom: 4rem;
}

#routes-table, #current-weather-table, #forecast-table, .additional-info, .top-peak-img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
}

.top-peak-name {
  margin-top: 5px;
  font-size: clamp(1rem, 3vw, 2rem);
}

.distance-text {
  text-wrap: balance;
}

.best-match-text, .weather-title, .forecast-title, .routes-title, .ready-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.routes-title {
  align-self: center;
}

.top-peak-img {
  width: 100%;
  max-width: 300px;
}

.top-peak-description {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  margin: 2rem 0 1rem 0;
  text-wrap: balance;
  text-align: center;
}

.best-match-text, .top-peak-description, .top-peak-name, .elevation-text, .range-text, .distance-text, .weather-title, .forecast-title, .routes-title, .ready-text, .recommended-route-text, .rr-icon {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.edit-preferences-btn {
  background-color: transparent;
  color: #d48106;
  border: 1px solid transparent;
}

.edit-preferences-btn:hover {
  background-color: transparent !important;
  color: #d48106 !important;
  border: 1px solid transparent !important;
}

.top-peak-li:hover {
  cursor: pointer;
}

.recommended-route-text {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

table {
  font-size: 0.6rem;
  text-align: left;
}

.weather-col, .routes-col {
  padding: 0;
}

.weather-col {
  margin-top: 1rem;
}

.additional-info {
  background-color: #212529;
  padding: 2rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  margin-bottom: 2rem;
}

.close-list-icon {
  position: relative;
  left: 1rem;
  animation: bounce 2s infinite;
}

.open-list-icon {
  animation: bounce 2s infinite;
}

.close-list-icon, .open-list-icon:hover {
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-2px);
  }
}

.date-input {
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.react-datepicker-wrapper input,
.react-datepicker__input-container {
  height: 100%;
}

.react-datepicker-wrapper input {
  padding-left: 0.5rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.form-select option:nth-child(odd) {
  background-color: darkgray;
  color: #333333;
}

.form-select option:nth-child(even) {
  background-color: lightgray;
  color: #333333;
}

#filter-radio-fieldset {
  color: white;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 0.5rem;
  width: 100vw;
  justify-content: space-evenly;
  position: sticky;
  left: 0;
}

#filter-radio-fieldset .form-check {
  display: inline;
}

.white-text {
  color: white;
}

.yellow-text {
  color: #d48106;
}

.add-peaks-area {
  margin: 1rem 2rem;
}

.selectedListItem {
  background-color: white !important;
  color: black !important;
}

.completed-peaks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.added-peaks-area {
  position: sticky;
  top: 1rem;
}

.peaks-to-add-list {
  padding: 0;
}

.peaks-to-add li {
  list-style-type: none;
}

.addPeaksBar span {
  cursor: pointer;
}

.peaks-list-filter {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.listItem {
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  color: white;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.completed-peak-card {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.card-range-text {
  font-weight: 500;
}

.edit-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.add-photos-btn, .save-date-btn, .delete-peak-btn {
  background: #198754;
  border: 1px solid black;
}

.add-photos-btn, .save-date-btn {
  background: #198754;
}

.delete-peak-btn {
  background: #dc3545;
}

.date-completed-text, .date-updated-text {
  color:#333333
}

.cp-details-content, .ip-details-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.photo-upload, .cp-details-content, .ip-details-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cp-details-title, .ip-details-title {
  font-size: 1.5rem;
}

.cp-details-content p, .ip-details-content p {
  margin: 0;
}

.cp-details-content img, .ip-details-content img {
  border-radius: 5px;
  min-width: 150px;
  max-width: 25vw;
  height: auto;
}

.cp-details-info, .ip-details-info {
  display: flex;
  flex-direction: column;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 12rem));
  gap: 10px;
  justify-content: center;
}

.photo-grid-item {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.photo-grid-item img,  .photo-grid-item video {
  cursor: zoom-in;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-grid-item:hover .delete-overlay {
  opacity: 1;
}

.lightbox {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.lightbox img,
.lightbox video {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 5px;
}

.close, .close-details, .close-upload {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.close-details {
  top: -35px;
  right: -20px;
}

.close-upload {
  top: -35px;
  right: -20px;
}

.prev, .next {
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.progress-dot {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.progress-dot.active {
  background-color: #fff;
}

.mountain-ranges {
  text-align: left;
}

.mountain-ranges h1, h2 {
  text-align: center;
}

.mountain-ranges h2 {
  margin-bottom: 1rem;
}

.mountain-ranges img {
  border-radius: 10px;
  max-width: 100%;
}

.mountain-safety p {
  text-align: center;
}

.mountain-safety h1 {
  text-align: center;
}

.mountain-safety h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.mountain-safety ol, .mountain-safety ul {
  list-style-type: none;
}

.mountain-safety li {
  line-height: 2rem;
}

.peak-feedback-title {
  font-size: 1.5rem;
}

.overall-stars {
  font-size: 1.2rem;
}

.browse-peaks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.individual-peak-card {
  width: 20%;
  min-width: 220px;
  margin-bottom: 1rem;
}

@media (min-width: 300px) {
  .weather-col, .routes-col {
    padding: 0 12px;
  }
}

@media (min-width: 350px) {
  table {
    font-size: 0.8rem;
  }
  .peaks-list-container {
    height: 235px;
  }
}

@media (min-width: 468px) {
  #filter-radio-fieldset {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
    justify-content: space-evenly;
    position: sticky;
    left: 0;
  }
}

@media (min-width: 576px) {
  .top-peak-description {
    text-align: left;
    margin-top: 0;
  }
  .weather-col {
    margin-top: 0;
  }
  .cp-details-content, .ip-details-content {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .overlay-container {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 50%;
    padding: 0;
  }

  .overlay-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .form-overlay-box {
    margin-top: 0;
  }

  .fb-form, .fb-overlay-box {
    padding: 2rem;
  }

  .overlay-box:nth-of-type(3) {
    order: 3;
  }

  .overlay-box:nth-of-type(3) p {
    margin: 0;
  }

  #weather-icon {
    margin-top: 1rem;
  }

  .mountain-ranges h2 {
    text-align: left;
  }
 
  #user-form {
    width: 100%;
  }

  .form-label {
    display: block;
  }

  #rp-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    overflow-x: hidden;
  }
}

@media (min-width: 1600px) {
  .overlay-box:nth-of-type(3) {
    flex-direction: row;
  }
}