.App {
  text-align: center;
}

.background {
  background-image: url("../src/images/mountain-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  min-height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.overlay-box {
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.overlay-content {
  color: #f8fbfb;
}

.overlay-content.title {
  font-size: 1.5rem;
}

.overlay-content.btn {
  border-radius: 10px;
  background: #d48106;
  margin-top: 45px;
}

.overlay-content.btn:hover {
  color: #333333;
}

@media (min-width: 650px) {
  .overlay-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .overlay-box {
    width: 30%;
  }
}